body {
    margin:0 auto;
    height: 900px;
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%)
    
}
header {
    text-align: center;
    font-size: 17pt;
}

textarea {
    vertical-align: top;
    height: 10em;
    width: 45em;
    resize: none;
}
.button {
    
    padding-bottom: 25px;
    margin-top: 1em;
    background-color: rgb(131, 93, 129);
    border-color: purple;
    font-size: medium;
    
}
.number {
    border-color: purple
}
